---
- name: Verify JVM logs and restart service
  hosts: "{{ host }}"
  gather_facts: True

  tasks:
    - name: check if specific file exist 

      find:
        paths: /home/adminuser/sampledir
        patterns: '*logs.log'
        recurse: no           
      register: found_files   

    - debug:       
        var: found_files
        