---
- name: Verify JVM logs and restart service
  hosts: localhost

  tasks:
    - name: check if specific file exist
      become: true
      ansible.builtin.find:
        paths: "{{ file_path }}"
        patterns: "{{ item }}"
        recurse: no
        age: -5m
      register: file_info
      with_items:
        - heapdump*
        - javacore*

    - name: Check if error text is present      
      shell: grep -q matched {{file_info}}"
      register: grep_result

    - name: Display the result
      ansible.builtin.debug:
        msg: "{{ grep_result }}"

    - ansible.builtin.debug:
        var: file_info

    - ansible.builtin.debug:
        msg: >
          {% for result in file_info.results %}
           {% if result.matched == 1 %}
              {% print('kumbidi') %}
            {% endif %}
          {% endfor %}

    # - name: "check command"
    #   shell: echo hello
    #   register: var
    #   until: var.stdout.find('hi') != -1
    #   retries: 5
    #   delay: 10

    - ansible.builtin.debug:
        var: file_info

    - name: Getting process IDs of the process
      community.general.pids:
        name: sleep
      register: pids_info

    - ansible.builtin.debug:
        var: pids_info
