---   
- name: Verify JVM logs and restart service
  hosts: localhost


  tasks:
    - name: check if specific file exist
      become: true
      ansible.builtin.find:
        paths: "{{ file_path }}"
        patterns: "{{ item }}"
        recurse: no
      register: file_info
      with_items:
        - heapdump*
        - javacore*

    - ansible.builtin.debug:
        var: file_info

    - ansible.builtin.debug:
        msg: "{{ any(file_info.results) }}"
    # - ansible.builtin.debug:
    #     msg: "{{ any( result.matched == '1' for result in file_info.results) }}"