---   
- name: Verify JVM logs and restart service
  hosts: localhost


  tasks:
    - name: check if specific file exist
      become: true
      ansible.builtin.find:
        paths: "{{ file_path }}"
        patterns: "{{ item }}"
        recurse: no
      register: file_info
      with_items:
        - heapdump*
        - javacore*

    - ansible.builtin.debug:
        var: file_info

    - ansible.builtin.debug:
        msg: >
          {% for result in file_info.results %}
           {% if result.matched == 1 %}
              {% print('kumbidi') %}
            {% endif %}
          {% endfor %}

    # - name: "check command"
    #   shell: echo hello
    #   register: var
    #   until: var.stdout.find('hi') != -1
    #   retries: 5
    #   delay: 10


    - name: Getting process IDs of the process
      community.general.pids:
        name: sleep
      register: pids_of_python



          
