---   
- name: Verify JVM logs and restart service
  hosts: localhost


  tasks:
    - name: check if specific file exist
      become: true
      ansible.builtin.find:
        paths: "{{ file_path }}"
        patterns: "{{ item }}"
        recurse: no
      register: file_info
      with_items:
        - heapdump*
        - javacore*

    - ansible.builtin.debug:
        var: {{ file_info.results | length }}