#===================================================================================#
# this playbook stops and starts a JVM sever
# INPUT PARAMS
# host_name: host name of the execution server
#===================================================================================#

---
- name: Execute specific command on server
  hosts: "{{ host_name }}"

  tasks:
    - name: stop_JVM_server
      shell: echo wsadmin -lang jython -c "AdminControl.invoke( AdminControl.queryNames('type=Server,*') , 'stop')"
      notify:
        - start_JVM_server

    - name: Validate if the file is present
      shell: ls -lrt /tmp/myprocess.pid
      register: lsresult
      #until: "lsresult is not failed"
      retries: 10
      delay: 20

  handlers:
    - name: start_JVM_server
      shell: echo wsadmin -lang jython -c "AdminControl.invoke(AdminControl.queryNames('type=Server,*'), 'start')"
