#===================================================================================#
# this playbook checks for specific error text in log and based on the content
# it stops and starts a JVM server on websphere
# INPUT PARAMS
# host: hot name of the execution server
# filepath: the path to verify the specific log filepath
# filename: the log file name to check content 
# errortext: the exact error text to be verified in log file  
#===================================================================================#
---   
- name: Verify JVM logs and restart service
  hosts: "{{ host }}"
  gather_facts: true
  become_user: oecm

  tasks:
    - name: Verify user context and validate params
      debug:
        msg:
          - "The playbook is running as user {{ ansible_env.USER }}"
          #- "this is multi line comment {{ (logfilepath is defined) | ternary (logfilepath,'not provided') }}"
          - "this is next multi line comment"
      # failed_when:
      #   -  logfilepath == 'kumbidi'
      #   - "this playbook has failed"  

- name: verify file exists and check error content
  import_playbook: verify_file_check_content_playbook.yaml
  vars:
    host: "{{ host }}"

- name: stop and start jvm server if error content exists
  when: grep_result.rc == 0
  import_playbook: restart_jvm_playbook.yaml
  vars:
    host: "{{ host }}"

- name: invoke a url endpoint as call back on completion of the job
  import_playbook: url_callback_playbook.yaml
  vars:
    host: "{{ host }}"





#ansible-playbook ./playbooktrial/tcoo_jvm_playbook.yaml -e "host=localhost filepath=/home/adminuser/sampledir filename=serverlogs.log errortext=error"