#===================================================================================#
# this playbook calls a specific url as call back from the ansible playbook
# INPUT PARAMS
# host: host name of the execution server
# callback_endpoint: the amelia or any specific callback endpoint that needs to be invoked
#===================================================================================#

---
- name: Execute specific command on server
  hosts: "{{ host_name }}"

  tasks:
    - name: Send HTTP request to a callback url endpoint
      ansible.builtin.uri:
        url: "{{ callback_endpoint }}" # Replace with your desired URL
        method: GET
        #body: "Your POST data here"
        status_code: 200 # Expected HTTP status code
      register: response
      until: "response.status == 200"
      retries: 3
      delay: 10


    - name: Display response
      ansible.builtin.debug:
        var: response
