#===================================================================================#
# this playbook checks for specific error text in log file based on the input provided
# INPUT PARAMS
# host_name: host name of the execution server
# file_path: the path to verify the specific log filepath
# file_name: the log file name to check content
# error_text: the exact error text to be verified in log file
#===================================================================================#

---
- name: Verify if file exists and check if content is present
  hosts: "{{ host_name }}"

  tasks:
    - name: check if specific file exist
      become: true
      find:
        paths: "{{ file_path }}"
        patterns: "{{ file_name }}"
        recurse: no
      register: file_info

    - name: Check if error text is present
      when: file_info.matched
      shell: grep -q '{{ error_text }}' "{{ file_path }}/{{ file_name }}"
      register: grep_result
      ignore_errors: yes

    - name: Display the result
      debug:
        msg: "The line is {{ 'present' if grep_result.rc == 0 else 'not present' }} in the file"

    - debug:
        var: grep_result
