--- #sample for using async in ansible for long running tasks
- hosts: linux
  become: true
  tasks:
    - name: copy sleep.sh file
      copy:
        src: ../scripts/sleep.sh
        dest: //home/adminuser/sleep.sh
    - name: run sleep.sh file
      command: /home/adminuser/sleep.sh
      async: 50
      poll: 10